// SASS INCLUDES
// #############################################
@import "imports/normalize";
@import "imports/mixins";
@import "imports/variables";

body
{
	font:normal 100%/#{$base-lineheight} $fontstack1;
	background:#ccc;
	margin:0;
	padding:0;
}

h1,h2,h3,h4
{
	font:normal 100%/#{$title-lineheight} $fontstack2;
}

h1
{
	font-size:200%;
}

h2
{
	font-size:150%;
}

h3
{
	font-size:125%;
}

h4
{
	font-size:115%;
}

code
{
	background:#eee;
}

/**
 * Just there to limit the page width and hide overflowing content
 */
.wrapper
{
	margin:0 auto;
	padding:0;
	min-width:320px;
	max-width:1140px;
	overflow:hidden;
	background:#fff;
}

/**
 * Page is what is animated
 */
.page
{
	padding:2em;

	// applied to everything below large screens
	@include mq("below large")
	{
		//if js is on, page become a positioning context for main nav
		.js &
		{
			position:relative;
			@include transition(all 250ms 150ms linear);
		}

		.js-nav-hidden &
		{
			left:0;
		}

		.js-nav-visible &
		{
			left:60%;
		}
	}
}

// main nav
.nav-main
{
	background:#222;

	//if JS is on and MQ supported .nav-main is positioned absolutely with .page as positioning context
	@include mq("below large")
	{
		.js &
		{
			position:absolute;
			top:0;
			left:-60%; /* same as width of nav */
			width:60%;
			height:100%;
		}
	}
}

//nav toggle (injected via JS)
.nav-toggle
{
	a
	{
		display:none;

		@include mq("below large")
		{
			display:block;
			width:34px;
			height:28px;
			background:url(../img/sprite_global.svg) 0 -400px no-repeat;
			//hide content
			text-indent:100%;
			white-space:nowrap;
			overflow:hidden;

			.no-svg &
			{
				background:url(../img/sprite_global.png) 0 -400px no-repeat;
			}
		}
	}
}

// main nav menu
.nav-main-menu
{
	@extend %list-compact;
	@extend %clearfix;
	background:#222;
	padding:1em;

	.js &
	{
		padding:2em;
	}

	//default stacked nav for small screens
	li
	{
		display:inline;
	}

	a
	{
		display:block;
		padding:.5em;
		color:#7A7C79;
		text-decoration:none;
		text-transform:uppercase;

		&.current, &:hover
		{
			color:#fff;
		}
	}

	//get fancy when js & MQ are supported
	@include mq("medium")
	{
		.js &
		{
			li
			{
				float:left;
				width:50%;
			}

			a
			{
				text-align:center;
				padding:1em 2em 2em 2em;
				display:block;
				border:none;

				&.current
				{
					background:#000;
				}

				&:before
				{
					content:"";
					display:block;
					margin:1em auto;
					width:80px;
					height:80px;
					opacity:.7;
					background-image:url(../img/sprite_global.svg);
					background-repeat:no-repeat;
				}

				&:hover:before
				{
					opacity:.9;
				}
			}

			.nav-home a:before
			{
				background-position:-200px -200px;
			}
			.nav-about a:before
			{
				background-position:0 -200px;
			}
			.nav-work a:before
			{
				background-position:-200px 0;
			}
			.nav-contact a:before
			{
				background-position:0 0;
			}
		}

		//PNG alternative if browser does not support SVG
		.js.no-svg & a:before
		{
			background-image:url(../img/sprite_global.png);
		}
	}

	//horizontal nav for large screens
	@include mq("large")
	{
		.js &
		{
			padding:0;

			li, a
			{
				float:left;
				width:auto;
			}

			a
			{
				text-align:left;
				padding:.8em 1.25em;

				&:before
				{
					content:none;
					display:none;
				}
			}
		}
	}
}