// =Typography
// #########################################

$base-fontsize: 		16;
$base-lineheight: 		1.5;
$title-lineheight: 		1.25;

$fontstack1: "Helvetica", "Arial", sans-serif;
$fontstack2: "Georgia", "Times New Roman", serif;

// =Colors
// #########################################
